.render-props-wrapper-container {
  margin: auto;
  width: 60%;
}
.render-props-inner-container {
  display: flex;
  flex-direction: column;  
  padding: 20px;
}
.render-props-input-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  text-align: center;
}
.render-props-input-container input {
  display: block;  
  font-size: 1em;
  margin: 2px;
}
.render-props-bar-container {
  margin: auto;    
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 2;
}