.render-props-bar2-container {
  width: 100%;
}
.progress-bar2-background {
  position: relative;
  box-sizing: border-box;
  background-color: #282c34;
  height: 60px;
  width: 100%;
  z-index: 0;  
}
.progress-bar2-foreground {
  position: absolute;
  background-color: rgb(113, 96, 204);
  height: 100%;
  z-index: 5;
  transition: 0.3s;
}
.progress-bar2-text {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding: 14px;
  color: white;  
  z-index: 10;
  text-align: center;
}
